core
modules/contrib
profiles
themes/contrib
vendor
sites/default/files
sites/default/settings.php
sites/default/default.services.yml
sites/default/default.settings.php
sites/development.services.yml
sites/example.settings.local.php
sites/example.sites.php
sites/README.txt
.csslintrc
.editorconfig
.eslintignore
.eslintrc.json
.gitattributes
.ht.router.php
.htaccess
autoload.php
example.gitignore
index.php
INSTALL.txt
LICENSE.txt
README.txt
robots.txt
update.php
web.config