{#
/**
 * @file drupalbook_product_entity.html.twig
 * Default theme implementation to present Product data.
 *
 * This template is used when viewing Product pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_drupalbook_product_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('drupalbook_product_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
